body, h3, h2, h1 {
    color: white;
    background: black;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 100
}

h1 {
    font-size: 50px;
}

#how_it_works {
    width: 50%;
    margin: 0 auto;
}

p {
    font-size: 18px;
}

#earth_pano {
    position: fixed;
    bottom: 0px;
    width: 100%;
}
