body {
    font-family: AppleGothic, "Century Gothic", Muli, "Avant Garde", sans-serif;
    background-color: black;
    color: #AAA;
}

h2 {
    padding-top: 20px;
    margin-bottom: 0;
}

.sidebar {
    background: black;
    position: absolute;
    right: 0;
    top: 100px;
    bottom: 0;
    width: 400px;
}

.div-label {
    float: left;
    width: 100%;
}

#simluation {
    position: absolute;
    left: 178px;
    top: 92px;
    right: 0;
    bottom: 0;
}

input {
    float: right;
    background: #444;
    color: #AAA;
}
